.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.662);
  font-size: 20px;
}

.App .container {
  /* display: flex;
  justify-content: center; */
  height: 80vh;
  border: 1px solid white;
  padding: 30px;
  color: white;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin-left: 30px;
}

form input {
  border-radius: 20px;
  width: 80%;
  padding: 10px;
  border: 0;
}

button {
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
  border: 0;
  flex: 0.5;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

ul li{
  list-style: none;
  display: flex;
  align-items: center;
  background-color: rgba(45, 152, 246, 0.635);
  padding: 20px ;
  border-radius: 50px;
  margin: 10px;
  width: 500px;
  

}

ul li span {
  flex: 1;
  text-align: left;
}
